

body{

  height: auto;
  margin: 0 auto;
  background-color: #010101;
}
.contenaire{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 70%;
  height: 400px;
  overflow: hidden;

  margin:100px auto;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  /*margin-top:10px;*/
}
img{
  height: auto;
  width : 100%;
  display: block;
}
.bouton{
  width: 70%;
  margin: -100px auto;
}
.avant, .arriere{
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.avant{
float:right;
}
